<div class="parallax-container main-header">
  <%= render "layouts/nav" %>
   <div class="parallax hp-motto-image">
    <%= image_tag 'yellow-reformation.jpg' %>
    <p class="sign-in-motto teal-text text-lighten-1">ethical fashion, <br>sustainable style</p>
  </div>
</div>

<div class="container text-in-parallax">
  <div class="section ">
    <div class="row ">
      <%= render "devise/sessions/new" %>
      
      <div class="col s12 m4"><h5></h5>
      </div>


      <div class="col s12 m4">
      <h5 class="center login-form-title">Not a member yet?</h5>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
  
      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
      </div>
    <!-- <div class="col s12 m6"> -->
      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

     <!--  <div class="field">
        <%#= f.label :birthday %><br />
        <%#= f.date_field :birthday %>
      </div>
 -->
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(*<%= @minimum_password_length %> character minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
       <%= f.label :password_confirmation %><br />
       <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
      <div class="left sign-form-submit">
        <a href="/" class="waves-effect waves-light btn">Cancel</a>
      </div>
      <div class="right actions new-user-submit sign-form-submit">
        <%= f.submit "Sign up", :class => "btn waves-effect waves-light" %>
      </div>
      
      <% end %>

      </div>

   
    </div>
  </div>
</div>




