<div class="parallax-container main-header">
  <%= render "layouts/nav" %>
   <div class="parallax hp-motto-image valign-wrapper">
    <%= image_tag 'ocean.jpg' %>
    <p class="brand-motto grey-text text-lighten-4">ethical fashion, sustainable style</p>
  </div>
</div>

<div class="container">
<div class="col s12 m4">

      <h5 class="center login-form-title">Edit My Profile (<%= current_user.first_name %>)</h5>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, :class => "form-label teal-text text-lighten-1" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
      <%= f.label :first_name, :class => "form-label teal-text text-lighten-1" %><i> (leave blank if you don't want to change it)</i><br />
      <%= f.text_field :first_name %>
    </div>
    <!-- <div class="col s12 m6"> -->
  <div class="field">
    <%= f.label :last_name, :class => "form-label teal-text text-lighten-1" %><i> (leave blank if you don't want to change it)</i><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
        <%= f.label :birthday, :class => "form-label teal-text text-lighten-1" %><i> (leave blank if you don't want to change it)</i><br />
        <%= f.date_field :birthday %>
      </div>

  <div class="field">
    <%= f.label :password, :class => "form-label teal-text text-lighten-1" %> <i> (leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :class => "form-label teal-text text-lighten-1" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password, :class => "form-label teal-text text-lighten-1" %> <i> (we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", :class => "log-in-button btn waves-effect waves-light" %><br><br>
    <%= link_to "Go back", :back, :class => "log-in-back" %>
  </div>
<% end %>
<br><br>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "log-in-button red btn waves-effect waves-light" %>

