<div class="">
	<p><%= comment.title %></p>
	<% if comment.user_id? %>
	<p>by <%= User.find(comment.user_id).first_name %></p>
	<% end %>
	<p><%= time_ago_in_words(comment.created_at) %> ago</p>
	<p><%= comment.body %></p>
	<% if current_user && comment.user_id == current_user.id %>
	<p><%= link_to "Delete", [comment.post, comment], method: :delete, class: "waves-effect waves-light btn red", data: {confirm: 'Are you sure?'}  %></p>
	<% end %>
</div>