<div class="parallax-container main-header">
  <%= render "layouts/nav" %>
  <div class="parallax hp-motto-image">
      <%= image_tag 'pink-reformation.jpg' %>
      <p class="store-index-motto"><span class="deep-orange-text text-darken-4">ethical fashion,<br>sustainable style</span></p>
    </div>
</div>
<!-- LINKS TO OTHER PAGES -->
<!-- THIS WILL BE RENDERED -->
<div class="container">
  <div class="row store-card">
<!-- <div class="col s12 m6"> -->
  <% @stores.each do |store| %>
    <div class="col s12 l4">
      <div class="card small" style="margin: 0 15px;">


        <div class="card-image waves-effect waves-block waves-light">
          <div class="store-image-holder valign-wrapper">
            <%= image_tag store.image.url, :class => "activator"%>
          </div>
        </div>

        <div class="card-content">
          <span class="card-title activator light-blue-text text-darken-1"><%= store.name %><i class="material-icons right grey-text text-lighten-1">more_vert</i></span>
          <p class="store-card-body"><%= store.desc_preview %></p>
        </div>


        <div class="card-reveal">
          <span class="card-title grey-text text-darken-1"><i class="small material-icons">loyalty</i> The Brands <i class="material-icons right grey-text text-lighten-1">close</i></span>
          <hr>
          <ul>
            <% store.brands.each do |brand| %>
              <li class="brand-in-modal store-card-body"><a href="/brands/#<%= brand.name%>"><%= brand.name %></a>
              </li>
            <% end %>
          </ul>
          <a href="/stores/<%=store.id%>" class="store-card-show-me">Show me more...</a>
          <% if current_user && @user.role == "admin" %>
            <a href="/stores/<%=store.id%>/edit" class="store-card-show-me-edit">Edit Store</a><a href="/stores/new" class="store-card-show-me-new">Add New</a>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
