
<div class="container text-in-parallax">
  <div class="section ">
    <div class="row ">
      <div class="col s12 m12">
            <h5 class="center hp-h5-title">Edit: <%= @store.name %></h5>
              <%= form_for [@store], html: { multipart: true } do |f| %>

                <%= f.label :name %>
                <%= f.text_field :name %>
                <br>
                <%= f.label :website %>
                <%= f.text_field :website %>
                <br>
                <%= f.label :instagram %>
                <%= f.text_field :instagram %>
                <br>
                <%= f.label :ig_url %>
                <%= f.text_field :ig_url %>
                <br>
                <%= f.label :ig_url_one %>
                <%= f.text_field :ig_url_one %>
                <br>
                <%= f.label :ig_url_two %>
                <%= f.text_field :ig_url_two %>
                <br>
                <%= f.label :ig_url_three %>
                <%= f.text_field :ig_url_three %>
                <br>
                <%= f.label :ig_url_four %>
                <%= f.text_field :ig_url_four %>
                <br>
                <%= f.label :desc_preview %>
                <%= f.text_field :desc_preview %>
                <br>
                <%= f.label :description %>
                <%= f.text_area :description %>
                <br>
                <%= f.label :address %>
                <%= f.text_area :address %>
                <br>
                <%= f.label :phone %>
                <%= f.text_field :phone %>
                <br>
                <label>Image</label>
                <%= image_tag(@store.image_url) if @store.image? %>
                <%= f.file_field :image %>
                <%= f.hidden_field :image_cache %>
                <br><br><br>
                <%= f.submit "Save Edits", :class => "waves-effect waves-light btn" %>
				<%= link_to "Delete", @store, :method => "delete", :class => "waves-effect waves-light btn red" %>
                <br>
              <% end %>

        </div>
    </div>
  </div>
</div>
