<div class="parallax-container main-header">
  <div class="navbar-fixed main-nav">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="grey-text text-darken-1 brand-logo"> BGC</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/#about-us" class="hp-nav-list grey-text text-darken-1">About Us</a></li>
          <li><a href="/blogposts" class="hp-nav-list grey-text text-darken-1">The Blog</a></li>
          <li><a href="/brands" class="hp-nav-list grey-text text-darken-1">The Brands</a></li>
          <li><a href="/stores" class="hp-nav-list grey-text text-darken-1">Shop Local</a></li>
          <% if user_signed_in? %>
            <li><a href="/users/sign_out" data-method="DELETE" class="hp-nav-list grey-text text-darken-1">Logout</a></li>
          <% else %>
            <li><a href="/users/sign_up" class="hp-nav-list grey-text text-darken-1">Login</a></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
   <div class="parallax hp-motto-image">
      <%= image_tag 'pink-reformation.jpg' %>
      <p class="store-index-motto"><span class="deep-orange-text text-darken-4">ethical fashion,<br>sustainable style</span></p>
    </div>
</div>
<!-- LINKS TO OTHER PAGES -->
<!-- THIS WILL BE RENDERED -->
<div class="container">
<div class="row store-card">
<!-- <div class="col s12 m6"> -->
<% @stores.each do |store| %>
  <div class="col s12 l4">
     <div class="card small" style="margin: 0 15px;">
        <div class="card-image waves-effect waves-block waves-light">
          <div class="store-image-holder valign-wrapper">
            <%= image_tag store.image.url, :class => "activator"%>
          </div>
        </div>
        <div class="card-content">
          <span class="card-title activator light-blue-text text-darken-1"><%= store.name %><i class="material-icons right grey-text text-lighten-1">more_vert</i></span>
        </div>

        <div class="card-reveal">
          <span class="card-title light-blue-text text-darken-1"><%= store.name %><i class="material-icons right grey-text text-lighten-1">close</i></span>
          <hr>
          <p class="store-card-body"><%= store.desc_preview %></p>
          <a href="stores/<%=store.id%>" class="store-card-body">Show me more...</a></p>
          <% if current_user && @user.role == "admin" %>
            <a href="/stores/<%=store.id%>/edit" class="store-card-body">Edit Store</a>
          <% end %>
        </div>
      </div>
  </div>
<% end %>
</div>