<div class="parallax-container main-header">
  <%= render "layouts/nav" %>
   <div class="parallax hp-motto-image">
      <%= image_tag @store.images[1].url %>
    <p class="store-page-motto grey-text text-lighten-4">ethical fashion, sustainable style</p>
  </div>
</div>

<div class="container text-in-parallax">
  <div class="row">
    <div class="col s12 m4">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4">
      <%= image_tag @store.images[0].url, :class => "responsive-img"%>
      <h5 class="the-brands-title left-align grey-text text-lighten-1"><i class="small material-icons">loyalty</i> The Brands </h5>
        <hr>
        <ul>
          <% @store.brands.each do |brand| %>
            <li class="brand-in-store"><a href="/brands/#<%= brand.name%>">> <%= brand.name %></a>
            </li>
          <% end %>
        </ul>
    </div>
        
    <div class="col s12 m8">
      <a class="modal-trigger instagram-modal-text" href="#igmodal"><i class="brown-text text-lighten-1 small mdi mdi-instagram"></i> <%= @store.name %></a>
      <p class="store-body"><a target="_blank" href="<%= @store.website %>"><%= @store.website %></a></p>
      <p class="store-body"><%= @store.phone %> | <%= @store.address %></p>
      <% if current_user %>
        <% if current_user.voted_for? @store %>
        <div class="div-<%= @store.id %> before">
          <%= link_to unlike_store_path(@store), method: :post, class: "liked", :data => {:id => @store.id}, :remote => true do %><i id="post-<%= @store.id %>" class="red-text mdi mdi-heart"> favorited</i><% end %>
        </div>
        <% else %>
        <div class="div-<%= @store.id %> before">
          <%= link_to like_store_path(@store), method: :post, class: "unliked", :data => {:id => @store.id}, :remote => true do %><i id="post-<%= @store.id %>" class="grey-text mdi mdi-heart-outline"> favorite</i><% end %>
        </div>
        <% end %>
      <% else %>
        <%= @store.get_likes.size %><i class="red-text mdi mdi-heart"></i>
      <% end %>
      <p class="store-body"><%= @store.description %></p>
    </div>
  </div>
        

        <!-- Modal Structure -->
  <div id="igmodal" class="modal bottom-sheet">
    <div class="modal-content">
      <a href="#!" class="modal-action modal-close"><i class="small mdi mdi-chevron-double-down"></i></a>
      <div class="instagram-feed center-align">
        <iframe src="<%= @store.ig_url_one %>" width="250" height="250" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
        <iframe src="<%= @store.ig_url_two %>" width="250" height="250" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
        <iframe src="<%= @store.ig_url_three %>" width="250" height="250" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
        <iframe src="<%= @store.ig_url_four %>" width="250" height="250" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
      </div>
    </div>
    <div class="modal-footer">
      <h5 class="center-align modal-footer-font"><a target="_blank" href="<%= @store.ig_url %>">I want more..</a></h5>
    </div>
  </div>
</div>
    

