<div class="container text-in-parallax">
  <div class="section ">
    <div class="row ">
      <div class="col s12 m12">
      	<h5 class="center"><a href="<%= store.name %>"></a> <%= store.name %></h5>
      	<p><%= store.description %></p>
      	<p><%= store.address %></p>
      	<p><%= store.instagram %></p>
      </div>
    </div>
  </div>
</div>
