<div class="parallax-container main-header">
  <%= render "layouts/nav" %>
   <div class="parallax hp-motto-image">
    <%= image_tag 'yellow-reformation.jpg' %>
    <p class="sign-in-motto teal-text text-lighten-1">ethical fashion, <br>sustainable style</p>
  </div>
</div>

<div class="container text-in-parallax">
  <div class="section ">
    <div class="row ">
      
      <div class="col s12 m4"><h5></h5>
      </div>
      <div class="col s12 m4">
      <h5 class="center login-form-title">Forgot Your Password?</h5>
		    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				  <%= devise_error_messages! %>

				  <div class="field">
				    <%= f.label :email, :class => "form-label teal-text text-lighten-1" %><br />
				    <%= f.email_field :email, autofocus: true %>
				  </div>

				  <div class="actions">
				    <%= f.submit "Reset Password", :class => "btn waves-effect waves-light log-in-button" %>
				  </div>
				<% end %>
      </div>
    </div>
  </div>
</div>