
      <div class="col s12 m4">

      <h5 class="center login-form-title">Log In</h5>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field sign-in-form">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>
          
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field sign-form-submit left">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          
          <div class="actions sign-form-submit right">
            <%= f.submit "Log in", :class => "btn waves-effect waves-light" %>
          </div>
      
          <% end %>
    
     </div>
