<div class="parallax-container main-header">
  <%= render "layouts/nav" %>
  <div class="parallax hp-motto-image">
      <%= image_tag 'profile.jpg', class: "resize" %>
      <p class="post-motto"><span class="deep-orange-text text-darken-4">ethical fashion,<br>sustainable style</span></p>
    </div>
</div>


<div class="container">
  <div class="row">
  <div class="col s12 m12">
    <h5 class="blog-title center grey-text text-darken-1">The Blog</h5>
  </div>
   <% @posts.each do |post| %>
    <div class="col s12 m12">
      <ul class="collection collection-posts">
        <li class="collection-item avatar">
        <div class="row">
        <div class="col s3 m3">
          <%= image_tag post.cover.thumb.url %>
        </div>
        <div class="col s9 m9">
          <a href="/posts/<%=post.id %>" class="title post-title"><%= post.title %></a>
          <p class="post-date grey-text text-darken-2"><%= post.created_at.strftime("%d %B %Y") %></p><hr>
          <a href="/posts/<%=post.id %>"><p class="post-description grey-text"><%= post.description %></p></a>
         </div></div>
          <span class="secondary-content">
            <% if current_user %>
              <% if current_user.voted_for? post %>
              <div class="div-<%= post.id %> before">
                <%= link_to unlike_post_path(post), method: :post, class: "liked-post", :data => {:id => post.id}, :remote => true do %><i id="post-<%= post.id %>" class="red-text mdi mdi-heart"><span class="favorite-text"> favorited</span></i><% end %>
              </div>
              <% else %>
              <div class="div-<%= post.id %> before">
                <%= link_to like_post_path(post), method: :post, class: "unliked-post", :data => {:id => post.id}, :remote => true do %><i id="post-<%= post.id %>" class="grey-text text-darken-1 mdi mdi-heart-outline"><span class="favorite-text"> favorite</span></i><% end %>
              </div>
              <% end %>
            <% else %>
              <% if post.get_likes.size >= 1 %>
                <a href="/users/sign_up"><i class="red-text mdi mdi-heart"> <%= post.get_likes.size %></i></a>
              <% else %>
                <a href="/users/sign_up"><i class="red-text mdi mdi-heart-outline"> 0</i></a>
              <% end %>
            <% end %>
          </span>
          <% if current_user && @user.role == "admin" %>
            <a class="edit-post" href="/posts/<%=post.id%>/edit">Edit | </a><a class="edit-post" href="/posts/new">Add a New Post</a>
          <% end %>
        </li>
      </ul>
    </div>
   <% end %>
  </div>
</div>
                