<div class="parallax-container main-header">
  <%= render "layouts/nav" %>
  <div class="parallax hp-motto-image">
      <%= image_tag 'beachmiami.jpg' %>
      <p class="store-index-motto"><span class="deep-orange-text text-darken-4">ethical fashion,<br>sustainable style</span></p>
    </div>
</div>


<div class="container">
 <% @posts.each do |post| %>
  <div class="row">
    <div class="col s12 m6">
      <div class="card medium">
        <div class="card-image">
          <%= image_tag post.cover.url %>
          <span class="card-title"><%= post.title %></span>
        </div>
        <div class="card-content">
          <p><%= post.created_at.strftime("%B, %d, %Y") %></p>
          <p><%= post.description %></p>
        </div>
        <div class="card-action">
          <a href="/posts/<%=post.id %>">Read More</a>
          <% if current_user && @user.role == "admin" %>
            <a href="/posts/<%=post.id%>/edit">Edit | </a><a href="/posts/new">Add a New Post</a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
 <% end %>
</div>