<div class="parallax-container main-header">
  <%= render "layouts/nav" %>
  <div class="parallax hp-motto-image">
      <%= image_tag @post.cover.url %>
      <p class="store-index-motto"><span class="white-text">ethical fashion  sustainable style</span></p>
    </div>
</div>

<div class="container text-in-parallax">
  <div class="row">
    <div class="col s12 m12">
      <h5><%= @post.title %></h5>
      <p><%= @post.created_at.strftime("%d %B %Y") %></p>
      <% if current_user %>
        <% if current_user.voted_for? @post %>
        <div class="div-<%= @post.id %> before">
          <%= link_to unlike_post_path(@post), method: :post, class: "liked", :data => {:id => @post.id}, :remote => true do %><i id="post-<%= @post.id %>" class="red-text mdi mdi-heart"> favorited</i><% end %>
        </div>
        <% else %>
        <div class="div-<%= @post.id %> before">
          <%= link_to like_post_path(@post), method: :post, class: "unliked", :data => {:id => @post.id}, :remote => true do %><i id="post-<%= @post.id %>" class="grey-text mdi mdi-heart-outline"> favorite</i><% end %>
        </div>
        <% end %>
      <% else %>
        <%= @post.get_likes.size %><i class="red-text mdi mdi-heart"></i>
      <% end %>
      <hr>
      <%= @post.content %>
    </div>
  </div>
</div>

<div class="container">
  <div class="comment-section">
    <h5><%= @post.comments.count %> Comments</h5>
    <%= render @post.comments %>
    <% if current_user %>
    <p>Add a comment:</p>
    <%= render "comments/form" %>
    <% end %>
  </div>
</div>