<%= render "layouts/nav" %>

<div class="container">
    <div class="row ">
      <div class="col s12 m12">
            <h5 class="center hp-h5-title">Edit: <%= @brand.name %></h5>
              <%= form_for [@brand], html: { multipart: true } do |f| %>
                <% if @brand.errors.any? %>
                    <div>
                      <p class="error-title red-text"><%= pluralize(@brand.errors.count, "error") %> prevented this brand from saving.</p>
                      <ul class="error-list red-text">
                        <% @brand.errors.full_messages.each do |message| %>
                          <li>> <%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
                <%= f.label :name, :class => "form-label teal-text text-lighten-1" %>
                <%= f.text_field :name, autofocus: true %>
                <br>
                <%= f.label :description, :class => "form-label teal-text text-lighten-1" %>
                <%= f.text_area :description %>
                <br>
                <%= f.label :website, :class => "form-label teal-text text-lighten-1" %>
                <%= f.text_field :website %>
                <br>
                <%= f.label :instagram, :class => "form-label teal-text text-lighten-1" %>
                <%= f.text_field :instagram %>
                <br>
                <%= f.label :twitter, :class => "form-label teal-text text-lighten-1" %>
                <%= f.text_field :twitter %>
                <br>
                <%= f.label :facebook, :class => "form-label teal-text text-lighten-1" %>
                <%= f.text_field :facebook %>
                <br>
                <ul>   
                  <% Keyvalue.all.each do |value| %>
                    <li class="form-keyvalue-list"><%= check_box_tag "brand[keyvalue_ids][]", value.id, @brand.keyvalue_ids.include?(value.id), :id => "value_#{value.id}" %>
                    <%= label_tag :keyvalue_ids, value.name, :for => "value_#{value.id}", :class => "form-label teal-text text-lighten-1" %></li>
                  <% end %>
                </ul>
                <br><br>
                <label class="form-label teal-text text-lighten-1">Image</label><br><br>
                <%= image_tag(@brand.image.thumb.url) if @brand.image? %><br>
                <%= f.file_field :image %>
                <%= f.hidden_field :image_cache %>
                <br><br>
                <%= f.submit "Save Edits", :class => "log-in-button btn waves-effect waves-light" %>
                <%= link_to("Cancel", brands_path, class: "btn waves-effect waves-light log-in-button red") %>
                <br><br>
				<%= link_to "Delete", @brand, :method => "delete", :class => "log-in-button waves-effect waves-light btn red", :data => {confirm: 'Are you sure?'}  %>
                <br>
              <% end %>

        </div>
    </div>
  </div>

<!--  -->
