<!-- LINKS TO OTHER PAGES -->
<!-- THIS WILL BE RENDERED -->

<div class="container text-in-parallax value-nav">
  <div class="" id="value-nav">
  <a href="#">
    <h5 class="center hp-h5-title">VALUE KEYS</h5>
  </a>
  </div>
</div>

<% @brands.each do |brand| %>
<div class="parallax-container">
  <% if brand.image? %>
  <div class="parallax">
  <%= image_tag brand.image.url %>
  </div>
  <% else %>
  <div class="parallax"><img src="http://www.nicepcwallpapers.com/wp-content/uploads/2015/07/nature-beautiful-girl-vintage-wallpaper-hd.jpg"></div>
  <% end %>
</div>

<div class="container text-in-parallax">
  <div class="section ">
    <div class="row ">
      <div class="col s12 m12">
        <div class="icon-block">
          <a href="<%= brand.website %>">
            <h5 class="center hp-h5-title"><%= brand.name %></h5>
          </a>
            <p class="hp-main-description"><%= brand.description %></p>
            <p>Check out <%= brand.name %>'s Instagram: <a href="#"><%= brand.instagram %></a> </p>
            <% if current_user && @user.role == "admin" %>
              <a href="/brands/<%=brand.id%>/edit">Details</a>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>